@page "/persons/{personId}/manual-merge/check-answers"
@model TeachingRecordSystem.SupportUi.Pages.Persons.ManualMerge.CheckAnswersModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Check details before updating the primary record";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
        <span class="govuk-caption-l">Support tasks</span>
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <form action="@Model.GetPageLink(ManualMergeJourneyPage.CheckAnswers)" method="post" data-testid="submit-form">
            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button formaction="@Model.CancelLink" class="govuk-button--secondary" type="submit" data-testid="cancel-button">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
