@using TeachingRecordSystem.SupportUi.Pages.Shared.Evidence

@model UploadedEvidenceFile

@if (Model is not null)
{
    <a href="@Model.PreviewUrl" class="govuk-link" rel="noreferrer noopener" target="_blank">@($"{Model.FileName} (opens in new tab)")</a>
}
else
{
    <span use-empty-fallback></span>
}
