@page "/found"
@model TeachingRecordSystem.AuthorizeAccess.Pages.FoundModel
@{
    ViewBag.Title = "Your GOV.UK One Login is connected to your teaching record";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-panel>
            <govuk-panel-title>
                @ViewBag.Title
            </govuk-panel-title>
        </govuk-panel>

        <h2 class="govuk-heading-m">What happens next</h2>

        @if (Model.LinkText is not null)
        {
            @Html.Raw(string.Format(Model.LinkText, Model.ContinueToApplicationUrl))
        }
        else
        {
            <p class="govuk-body">
                You can now <a href="@Model.ContinueToApplicationUrl" class="govuk-link" data-testid="continue-link">access your teaching record</a>.
            </p>
        }
    </div>
</div>
