@import '../lib/govuk-frontend/govuk/all.scss';
@import "../lib/ministryofjustice/frontend/moj/settings/all";
@import "../lib/ministryofjustice/frontend/moj/helpers/all";
@import "../lib/ministryofjustice/frontend/moj/objects/all";
@import "../lib/ministryofjustice/frontend/moj/utilities/all";
/* If needing more components then add them individually .. unfortunately the cookie-banner component references node_modules in the @import so we can't just import components/all !!  */
@import "../lib/ministryofjustice/frontend/moj/components/password-reveal/_password-reveal";
@import "../lib/ministryofjustice/frontend/moj/components/search/search";
@import "../lib/ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";
@import "../lib/ministryofjustice/frontend/moj/components/timeline/timeline";

.autocomplete__option {
  font-family: $govuk-font-family;
}

.trs-table__header--no-border,
.trs-table__cell--no-border,
.trs-table--no-border {
  border: 0;
}

.moj-search .trs-search {
  align-items: flex-end;
  display: flex;
}

.trs-subtle-emphasis {
  color: govuk-colour("mid-grey");
}

.trs-monospace {
  font-family: monospace;
}

.trs-nowrap {
  white-space: nowrap;
}
