@import '../lib/govuk-frontend/dist/govuk/index';
@import "../lib/ministryofjustice/frontend/moj/settings/all";
@import "../lib/ministryofjustice/frontend/moj/helpers/all";
@import "../lib/ministryofjustice/frontend/moj/objects/all";
@import "../lib/ministryofjustice/frontend/moj/utilities/all";
/* If needing more components then add them individually .. unfortunately the cookie-banner component references node_modules in the @import so we can't just import components/all !!  */
@import "../lib/ministryofjustice/frontend/moj/components/password-reveal/_password-reveal";
@import "../lib/ministryofjustice/frontend/moj/components/search/search";
@import "../lib/ministryofjustice/frontend/moj/components/sub-navigation/sub-navigation";
@import "../lib/ministryofjustice/frontend/moj/components/timeline/timeline";

.autocomplete__option {
  font-family: $govuk-font-family;
}

.trs-table__header--no-border,
.trs-table__cell--no-border,
.trs-table--no-border {
  border: 0;
}

.moj-search .trs-search {
  align-items: flex-end;
  display: flex;
}

.trs-subtle-emphasis {
  color: govuk-colour("mid-grey");
}

.trs-monospace {
  font-family: monospace;
}

.trs-nowrap {
  white-space: nowrap;
}

.trs-support-tasks {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}

.trs-support-tasks__filters {
  flex: 0 0 240px;
  border: 1px solid grey;
  padding: 10px;
}

.trs-support-tasks__list {
  flex: 1;
}

.trs-support-tasks__list__sort-by {
  margin-top: 11px; /* trs-support-tasks__filters's padding + border width */
}

.trs-\!-inline {
  display: inline;
}

.trs-\!-width-200 {
  width: 200px;
}

.trs-\!-width-300 {
  width: 300px;
}

.trs-\!-max-width-none {
  max-width: none;
}

.trs-checkboxes_hint {
  padding-top: 1rem;
}

.trs-radios__divider--heading-s,
.trs-checkboxes__divider--heading-s {
  @include govuk-text-colour;
  @include govuk-font($size: 19, $weight: bold);
  width: 400px;
  text-align: left;
}

.trs-checkboxes__divider--heading-s:not(:first-of-type) {
  margin-top: 2.5rem;
}
