@using TeachingRecordSystem.Core.Events
@model TimelineItem<TimelineEvent<DqtInitialTeacherTrainingCreatedEvent>>
@{
    var dqtCreatedEvent = Model.ItemModel.Event;
    var itt = dqtCreatedEvent.InitialTeacherTraining;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-dqt-itt-created-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">DQT initial teacher training created</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Result</govuk-summary-list-row-key>
                <govuk-summary-list-row-value data-testid="itt-result" use-empty-fallback>@itt?.Result</govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>
    </div>
</div>
