@using TeachingRecordSystem.Core.Events
@model TimelineItem<TimelineEvent<MandatoryQualificationDqtImportedEvent>>
@{
    var dqtImportedEvent = Model.ItemModel.Event;
    var mandatoryQualification = dqtImportedEvent.MandatoryQualification;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-mq-dqt-imported-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Mandatory qualification imported</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">
            @Model.Timestamp.ToString("dd MMMMM yyyy 'at' h:mm tt")
        </time>
    </p>
</div>
