@page "/users/add/confirm"
@using TeachingRecordSystem.Core;
@model TeachingRecordSystem.SupportUi.Pages.Users.AddUser.ConfirmModel
@{
    ViewBag.Title = "Add user";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator.AddUser(Model.UserId!)" method="post">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-input asp-for="Email" type="email" disabled />

            <govuk-input asp-for="Name" />

            <govuk-checkboxes asp-for="Roles">
                <govuk-checkboxes-fieldset>
                    @foreach (var role in UserRoles.All)
                    {
                        <govuk-checkboxes-item value="@role">@UserRoles.GetDisplayNameForRole(role)</govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            <govuk-button type="submit">Add user</govuk-button>
        </form>
    </div>
</div>
