@page "/users/add"
@model TeachingRecordSystem.SupportUi.Pages.Users.AddUser.IndexModel
@{
    ViewBag.Title = "Add a user";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator.Users.AddUser.Index()" method="post">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-input for="Email" label-class="govuk-label--m" type="email" />

            <div class="govuk-button-group">
                <govuk-button type="submit">Add user</govuk-button>
                <govuk-button-link class="govuk-button--secondary" href=@LinkGenerator.Users.Index()>Cancel and return to users</govuk-button-link>
            </div>
        </form>
    </div>
</div>
