fetch_config.rb

# Document site
docs/tmp
docs/build
docs/source/dqt-api.yaml
**/.DS_Store

terraform/domains/environment_domains/vendor/
terraform/domains/infrastructure/vendor/
terraform/aks/vendor/
bin/konduit.sh

.idea
.vs/
/TeachingRecordSystem/tests/TeachingRecordSystem.UiCommon.Tests/packages.lock.json
/TeachingRecordSystem/src/TeachingRecordSystem.UiCommon/packages.lock.json
/TeachingRecordSystem/gen/TeachingRecordSystem.Api.Generator/packages.lock.json
/TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/packages.lock.json
