@page "/application-users"
@model TeachingRecordSystem.SupportUi.Pages.ApplicationUsers.IndexModel
@{
    ViewBag.Title = "Application users";
}

<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @if (Model.Users!.Length > 0)
        {
            @foreach (var user in Model.Users!)
            {
                <tr class="govuk-table__row" data-testid="user-@user.UserId">
                    <td class="govuk-table__cell">
                        <a href="@LinkGenerator.EditApplicationUser(user.UserId)" class="govuk-link" data-testid="edit-application-user-@user.UserId">@user.Name</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="govuk-table__row" data-testid="no-users">
                <td class="govuk-table__cell">
                    <div class="govuk-caption-m">No users</div>
                </td>
            </tr>
        }
    </tbody>
</table>

<govuk-button-link href="@LinkGenerator.AddApplicationUser()" class="govuk-button--secondary" data-testid="add-application-user">Add application user</govuk-button-link>
