@model ChangeHistoryEntryViewModel

<div class="moj-timeline__item govuk-!-padding-bottom-2">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">Alert added</h2>
    </div>
    <p class="moj-timeline__date">
        <span>By @Model.UserName on</span>
        <time datetime="@Model.Timestamp.ToString("O")">@Model.Timestamp.ToString("d MMMMM yyyy 'at' h:mm tt")</time>
    </p>
    <div class="moj-timeline__description">
        <partial name="./Processes/@(Model.ProcessType).cshtml" for="@Model" />
    </div>
</div>
