@page "/alerts/{alertId}/close"
@model IndexModel
@{
    ViewBag.Title = "Close alert";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.PersonAlerts(Model.PersonId!.Value)">Back</govuk-back-link>
}

<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.AlertClose(Model.AlertId, Model.JourneyInstance!.InstanceId)" method="post">
            <govuk-date-input asp-for="EndDate">
                <govuk-date-input-fieldset>
                    <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--m" />
                </govuk-date-input-fieldset>
            </govuk-date-input>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>

