@using GovUk.Frontend.AspNetCore
@using Microsoft.AspNetCore.Http.Features
@using TeachingRecordSystem.Core.Models
@using TeachingRecordSystem.WebCommon
@using TeachingRecordSystem.SupportUi
@namespace TeachingRecordSystem.SupportUi.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, GovUk.Frontend.AspNetCore
@addTagHelper *, TeachingRecordSystem.SupportUi
@inject TeachingRecordSystem.SupportUi.TrsLinkGenerator LinkGenerator
@inject TeachingRecordSystem.SupportUi.IFeatureProvider FeatureProvider
@using TeachingRecordSystem.SupportUi.Views.Shared.Components.UploadEvidence

@model UploadEvidenceViewModel

<govuk-radios asp-for="UploadEvidence" data-testid="upload-evidence-options">
    <govuk-radios-fieldset>
        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m" data-testid="upload-evidence-options-legend" />
        <govuk-radios-item value="@true">
            Yes
            <govuk-radios-item-conditional>
                @if (Model.EvidenceFileId is not null)
                {
                    <span class="govuk-caption-m">Currently uploaded file</span>
                    <p class="govuk-body">
                        <a href="@Model.UploadedEvidenceFileUrl" class="govuk-link" rel="noreferrer noopener" target="_blank" data-testid="uploaded-evidence-file-link">@($"{Model.EvidenceFileName} ({Model.EvidenceFileSizeDescription})")</a>
                    </p>
                    <input type="hidden" asp-for="EvidenceFileId" />
                    <input type="hidden" asp-for="EvidenceFileName" />
                    <input type="hidden" asp-for="EvidenceFileSizeDescription" />
                    <input type="hidden" asp-for="UploadedEvidenceFileUrl" />
                }
                <govuk-file-upload asp-for="EvidenceFile" 
                                    label-class="govuk-label--m"
                                    input-accept=".bmp, .csv, .doc, .docx, .eml, .jpeg, .jpg, .mbox, .msg, .ods, .odt, .pdf, .png, .tif, .txt, .xls, .xlsx">
                    <govuk-file-upload-label>Upload a file</govuk-file-upload-label>
                    <govuk-file-upload-hint>Must be smaller than 50MB</govuk-file-upload-hint>
                </govuk-file-upload>
            </govuk-radios-item-conditional>
        </govuk-radios-item>
        <govuk-radios-item value="@false">
            No
        </govuk-radios-item>
    </govuk-radios-fieldset>
</govuk-radios>
