@page "/persons/{PersonId}/edit-induction/status"
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.EditInduction.StatusModel
@{
    ViewBag.Title = "Edit status: " + Model.InductionStatus;
}

@section BeforeContent {
    <govuk-back-link>Back</govuk-back-link>
}

<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.InductionEditStatus(Model.PersonId, Model.JourneyInstance!.InstanceId)" method="post">
            <input type="hidden" name="InductionStatus" value="@Model.InductionStatus" />
            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                @* <govuk-button formaction="@LinkGenerator.PersonInduction(Model.PersonId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button> *@
            </div>
        </form>
    </<div>
</div>
