@page "/application-users/add"
@model TeachingRecordSystem.SupportUi.Pages.ApplicationUsers.AddApplicationUser.IndexModel
@{
    ViewBag.Title = "Add application user";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.ApplicationUsers.Index()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator.ApplicationUsers.AddApplicationUser.Index()" method="post">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-input for="Name">
                <govuk-input-label class="govuk-label--m">Name</govuk-input-label>
            </govuk-input>

            <govuk-input for="ShortName" input-class="govuk-input--width-10">
                <govuk-input-label class="govuk-label--m">Short name</govuk-input-label>
            </govuk-input>

            <govuk-button type="submit">Save</govuk-button>
        </form>
    </div>
</div>
