@page "/oidc-test"
@model TeachingRecordSystem.AuthorizeAccess.Pages.OidcTest.StartModel
@{
}

<form asp-page="OidcTest" method="post">
    <govuk-input asp-for="TrnToken" />

    <govuk-button type="submit" is-start-button="true">Start</govuk-button>
</form>
