<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
    <add key="lib" value="lib" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet8">
      <package pattern="dotnet-format" />
    </packageSource>
    <packageSource key="lib">
      <package pattern="Dfe.Analytics" />
    </packageSource>
  </packageSourceMapping>
</configuration>
