<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="lib" value="lib" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="lib">
      <package pattern="Dfe.Analytics" />
      <package pattern="GovUk.Questions.AspNetCore*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
