@page "/connect"
@model TeachingRecordSystem.AuthorizeAccess.Pages.ConnectModel
@{
    ViewBag.Title = "Find your teaching record";
}

<form action="@LinkGenerator.Connect(Model.JourneyInstance!.InstanceId)" method="post">
    <div class="govuk-panel govuk-panel--interruption">
        <h1 class="govuk-panel__title">@ViewBag.Title</h1>

        <div class="govuk-panel__body">
            <div class="trs-two-thirds">
                <p class="govuk-body">
                    You’ve signed in to GOV.UK One Login and verified your identity.
                </p>

                <p class="govuk-body">
                    We’ll ask for your National Insurance number or teacher reference number (TRN) so we can find your teaching record.
                </p>

                <p class="govuk-body">
                    You won’t need to do this again.
                </p>

                <govuk-button class="govuk-!-margin-bottom-0">Find your teaching record</govuk-button>
            </div>
        </div>
    </div>
</form>
