@page "/found"
@model TeachingRecordSystem.AuthorizeAccess.Pages.FoundModel
@{
    ViewBag.Title = "Your GOV.UK One Login is connected to your teaching record";
}

<form action="@LinkGenerator.Found(Model.JourneyInstance!.InstanceId)" method="post">
    <govuk-panel class="trs-panel--left">
        <govuk-panel-title>
            @ViewBag.Title
        </govuk-panel-title>
        <govuk-panel-body>
            <p class="govuk-body">
                You won’t need to do this again.
            </p>

            <govuk-button type="submit" class="govuk-!-margin-bottom-0">Access your teaching record</govuk-button>
        </govuk-panel-body>
    </govuk-panel>
</form>
