@page "/not-found"
@model TeachingRecordSystem.AuthorizeAccess.Pages.NotFoundModel
@{
    ViewBag.Title = "We haven’t found your teaching record";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Trn(Model.JourneyInstance!.InstanceId)" />
}

<form action="@LinkGenerator.NotFound(Model.JourneyInstance!.InstanceId)" method="post">
    <govuk-panel class="govuk-panel--interruption">
        <govuk-panel-title>@ViewBag.Title</govuk-panel-title>

        <govuk-panel-body class="govuk-panel__body">
            <div class="trs-two-thirds">
                <p class="govuk-body govuk-!-margin-bottom-0">
                    We’ve been unable to match your answers to a teaching record.
                </p>

                <h2 class="govuk-heading-l">Get support</h2>

                <p class="govuk-body">
                    Check your answers. If they’re correct, you can get support with accessing your teaching qualifications.
                </p>

                <p class="govuk-body">
                    We’ll check your details and contact you if we need any more information.
                </p>

                <govuk-button class="govuk-!-margin-bottom-0">Check your answers</govuk-button>
            </div>
        </govuk-panel-body>
    </govuk-panel>
</form>
