@page "/not-found"
@model TeachingRecordSystem.AuthorizeAccess.Pages.NotFoundModel
@{
    ViewBag.Title = "We haven’t found your teaching record";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.CheckAnswers(Model.JourneyInstance!.InstanceId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--interruption">
            <h1 class="govuk-panel__title">Your GOV.UK One Login could not be connected to your teaching record</h1>

            <div class="govuk-panel__body">
                <p class="govuk-body-l">
                    You need to get support to access your teaching qualifications.
                </p>

                <p class="govuk-body-l">
                    Your details will be sent to the Teaching Regulation Agency support team.
                </p>

                <govuk-button class="govuk-!-margin-bottom-0">Get support</govuk-button>
            </div>
        </div>
    </div>
</div>
