@page "/no-trn"
@model TeachingRecordSystem.AuthorizeAccess.Pages.NoTrn
@{
    ViewBag.Title = "You cannot use this service if you do not have a teacher reference number (TRN)";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <p class="govuk-body">
            You usually have a TRN if you:
            <ul class="govuk-list govuk-list--bullet">
                <li>have a recognised teaching status such as qualified teacher status (QTS), early years teacher status (EYTS) or qualified teacher learning and skills (QTLS) status</li>
                <li>hold or are completing a mandatory qualification</li>
                <li>hold, are registering for or completing a national professional qualification (NPQ)</li>
                <li>mentor trainee or early career teachers</li>
                <li>have a teacher's pension</li>
                <li>have a teaching-related restriction recorded in England</li>
            </ul>
        </p>

        <p class="govuk-body">
            If none of these apply to you, you do not need to use this service.
        </p>

        <p class="govuk-body">
            <a href="https://www.gov.uk/guidance/teacher-reference-number-trn" class="govuk-link" target="_blank">
                Find out about TRNs and how to find or request one
            </a>
        </p>
    </div>
</div>
