@page "/no-trn"
@model TeachingRecordSystem.AuthorizeAccess.Pages.NoTrn
@{
    ViewBag.Title = "You cannot use this service if you do not have a teacher reference number (TRN)";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>        

        <p class="govuk-body govuk-!-margin-bottom-0">
            You usually have a TRN if you:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>have a recognised teaching status such as qualified teacher status (QTS), early years teacher status (EYTS) or early years professional status (EYPS)</li>
            <li>hold or are completing a mandatory qualification</li>
            <li>hold, are registering for or completing a national professional qualification (NPQ)</li>
            <li>mentor trainee or early career teachers</li>
            <li>have a teacher’s pension</li>            
            <li>have a teaching-related restriction recorded in England</li>
        </ul>

        <p class="govuk-body">
            If none of these apply to you, you do not need to use this service.
        </p>

        <p class="govuk-body">
            If you cannot remember or find your TRN use the 
            <a href="https://find-a-lost-trn.education.gov.uk/start" class="govuk-link" target="_blank">
                Find a lost TRN service (opens in a new tab).
            </a>
        </p>
    </div>
</div>
