@page "/not-verified"
@model TeachingRecordSystem.AuthorizeAccess.Pages.NotVerifiedModel
@{
    ViewBag.Title = "We could not verify your identity";
}

<form method="post">
    <div class="govuk-panel govuk-panel--interruption">
        <h1 class="govuk-panel__title">@ViewBag.Title</h1>

        <div class="govuk-panel__body">
            <p class="govuk-body">
                You can try to verify your identity again using GOV.UK One Login.
            </p>

            <govuk-button name="TryAgain" value="true">Verify with GOV.UK One Login</govuk-button>

            <p class="govuk-body">
                Alternatively, we will try to confirm your identity and match you to a teaching record using your personal details.
                This can take up to 5 working days.
            </p>

            <p class="govuk-body govuk-!-margin-bottom-0">
                We’ll ask for:
                <ul class="govuk-list govuk-list--bullet">
                    <li>your name</li>
                    <li>your date of birth</li>
                    <li>your National Insurance number</li>
                    <li>your teacher reference number (TRN)</li>
                    <li>proof of your identity, such as a passport or driving licence</li>
                </ul>
            </p>

            <button class="trs-panel--interruption__link-button govuk-!-margin-bottom-0">Verify using my personal details</button>
        </div>
    </div>
</form>
