@page "/test"
@using System.Security.Claims
@model TeachingRecordSystem.AuthorizeAccess.Pages.TestModel
@{
    ViewBag.Title = "Signed in";
}

<h1>Hello @User.FindFirstValue("person_id")</h1>

<div data-testid="trn">@User.FindFirstValue(AuthorizeAccessClaimTypes.Trn)</div>

<div data-testid="trn-request-id">@User.FindFirstValue(AuthorizeAccessClaimTypes.TrnRequestId)</div>
