@page "/test"
@using GovUk.OneLogin.AspNetCore
@using System.Security.Claims
@model TeachingRecordSystem.AuthorizeAccess.Pages.TestModel
@{
    ViewBag.Title = "Signed in";
}

<h1>Hello @User.FindFirstValue("person_id")</h1>

<div data-testid="trn">@User.FindFirstValue("trn")</div>
