@page "/trn-deferred"
@model TeachingRecordSystem.AuthorizeAccess.Pages.TrnDeferredModel
@{
    ViewBag.Title = "Continue your registration";
}

<form method="post">
    <div class="govuk-panel govuk-panel--interruption">
        <h1 class="govuk-panel__title">@ViewBag.Title</h1>

        <div class="govuk-panel__body">
            <p class="govuk-body">
                You’ll be given a teacher reference number (TRN) once you’ve been accepted on a course.
            </p>

            <govuk-button class="govuk-!-margin-bottom-0">Continue</govuk-button>
        </div>
    </div>
</form>
