@page "/support-tasks/one-login-user-matching/{supportTaskReference}/resolve/no-matches"
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.OneLoginUserMatching.Resolve.NoMatches
@{
    ViewBag.Title = "We cannot find a record that matches this GOV.UK One Login";
}

@section BeforeContent {
    <govuk-back-link href="@(Model.IsRecordMatchingOnly is true ?
        LinkGenerator.SupportTasks.OneLoginUserMatching.RecordMatching() :
        LinkGenerator.SupportTasks.OneLoginUserMatching.Resolve.Verify(Model.SupportTaskReference, Model.JourneyInstance.InstanceId))" />
}

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Record management</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p class="govuk-body">
                You’ve verified @(Model.Name)’s identity, but we could not match their details to an existing teaching record.
            </p>

            <p class="govuk-body">
                We’ll send them the email below to help them check their details and find out what they can do next.
            </p>

            <govuk-inset-text>
                @Html.ConvertNewlinesToLineBreaks(Model.EmailContent)
            </govuk-inset-text>

            <div class="govuk-button-group">
                <govuk-button type="submit">Send email</govuk-button>
                <govuk-button type="submit" name="Cancel" value="true" class="govuk-button--secondary">Cancel</govuk-button>
            </div>
        </div>
    </div>
</form>
