@import 'govuk-frontend';
@import '../wwwroot/lib/govuk-one-login-service-header/dist/styles/service-header-no-imports';
@import './Components/interruption-card.scss';

.trs-panel--left {
  text-align: left;
}

.trs-empty-fallback {
  color: govuk-colour("black", $variant: "tint-25");
}

.trs-panel--interruption__link-button {
  @extend .govuk-link;
  @extend .govuk-link--inverse;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  @include govuk-font($size: 19);

  &:hover {
    color: govuk-colour("black", $variant: "tint-95");
  }
}
