@model FiltersViewModel

<div class="moj-filter">
    <div class="moj-filter__header">
        <div class="moj-filter__header-title">
            <h2 class="govuk-heading-m">Filter</h2>
        </div>
    </div>

    <form asp-antiforgery="false" method="get" class="moj-filter__options">
        @foreach (var filter in Model.Filters)
        {
            if (filter is TextSearchFilterViewModel textSearch)
            {
                <partial name="_TextSearchFilter" model=textSearch />
            }
            else if (filter is CheckboxFilterViewModel checkbox)
            {
                <partial name="_CheckboxFilter" model=checkbox />
            }
        }

        <div class="govuk-button-group">
            <govuk-button type="submit">@Model.SubmitButtonText</govuk-button>
            <a class="govuk-link govuk-link--no-visited-state" href=@Model.ClearUrl>Clear filters</a>
        </div>
    </form>
</div>