@page "/support-tasks/teacher-pensions"
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders
@model TeachingRecordSystem.SupportUi.Pages.SupportTasks.IntegrationTransactions.DetailModel
@{
    ViewBag.Title = "Potential duplicates via Teachers' Pensions";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l">Support tasks</span>
        <h1 class="govuk-heading-l" data-testid="integration-transaction-interface-type">Potential duplicates via Teachers' Pensions</h1>
    </div>
</div>
