@using TeachingRecordSystem.Core.Events
@model TimelineItem<TimelineEvent<TeachingRecordSystem.Core.Events.Legacy.DqtQtsRegistrationCreatedEvent>>
@{
    var dqtCreatedEvent = Model.ItemModel.Event;
    var qts = dqtCreatedEvent.QtsRegistration;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-dqt-qts-created-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">DQT QTS registration created</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            @if (qts?.TeacherStatusName is not null)
            {
                <row>
                    <key>Teacher status name</key>
                    <value data-testid="teacher-status-name" use-empty-fallback>@qts?.TeacherStatusName</value>
                </row>
            }

            @if (qts?.EarlyYearsStatusName is not null)
            {
                <row>
                    <key>Early years status name</key>
                    <value data-testid="early-years-status-name" use-empty-fallback>@qts?.EarlyYearsStatusName</value>
                </row>
            }

            @if (qts?.QtsDate is not null)
            {
                <row>
                    <key>QTS date</key>
                    <value data-testid="qts-date" use-empty-fallback>@qts?.QtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }

            @if (qts?.EytsDate is not null)
            {
                <row>
                    <key>EYTS date</key>
                    <value data-testid="eyts-date" use-empty-fallback>@qts?.EytsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }
        </govuk-summary-list>
    </div>
</div>
