@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.Core.Events.Legacy
@model TimelineItem<LegacyEventChangeHistoryEntry<TeachingRecordSystem.Core.Events.Legacy.DqtQtsRegistrationUpdatedEvent>>
@{
    var dqtUpdatedEvent = Model.ItemModel.Event;
    var qts = dqtUpdatedEvent.QtsRegistration;
    var oldQts = dqtUpdatedEvent.OldQtsRegistration;
}

<div class="moj-timeline__item govuk-!-padding-bottom-2" data-testid="timeline-item-dqt-qts-updated-event">
    <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">DQT QTS registration updated</h2>
    </div>
    <p class="moj-timeline__date">
        <span data-testid="raised-by">By @Model.ItemModel.RaisedByUser.Name on</span>
        <time datetime="@Model.Timestamp.ToString("O")" data-testid="timeline-item-time">@Model.FormattedGmtTimestamp</time>
    </p>
    <div class="moj-timeline__description">
        <govuk-summary-list>
            @if (dqtUpdatedEvent.Changes.HasFlag(DqtQtsRegistrationUpdatedEventChanges.TeacherStatusValue))
            {
                <row>
                    <key>Teacher status name</key>
                    <value data-testid="teacher-status-name" use-empty-fallback>@qts?.TeacherStatusName</value>
                </row>
            }

            @if (dqtUpdatedEvent.Changes.HasFlag(DqtQtsRegistrationUpdatedEventChanges.EarlyYearsStatusValue))
            {
                <row>
                    <key>Early years status name</key>
                    <value data-testid="early-years-status-name" use-empty-fallback>@qts?.EarlyYearsStatusName</value>
                </row>
            }

            @if (dqtUpdatedEvent.Changes.HasFlag(DqtQtsRegistrationUpdatedEventChanges.QtsDate))
            {
                <row>
                    <key>QTS date</key>
                    <value data-testid="qts-date" use-empty-fallback>@qts?.QtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }

            @if (dqtUpdatedEvent.Changes.HasFlag(DqtQtsRegistrationUpdatedEventChanges.EytsDate))
            {
                <row>
                    <key>EYTS date</key>
                    <value data-testid="eyts-date" use-empty-fallback>@qts?.EytsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                </row>
            }
        </govuk-summary-list>
        <govuk-details class="govuk-!-margin-bottom-2">
            <govuk-details-summary>Previous data</govuk-details-summary>
            <govuk-details-text>
                <govuk-summary-list>
                    @if (dqtUpdatedEvent.Changes.HasFlag(DqtQtsRegistrationUpdatedEventChanges.TeacherStatusValue))
                    {
                        <row>
                            <key>Teacher status name</key>
                            <value data-testid="old-teacher-status-name" use-empty-fallback>@oldQts?.TeacherStatusName</value>
                        </row>
                    }

                    @if (dqtUpdatedEvent.Changes.HasFlag(DqtQtsRegistrationUpdatedEventChanges.EarlyYearsStatusValue))
                    {
                        <row>
                            <key>Early years status name</key>
                            <value data-testid="old-early-years-status-name" use-empty-fallback>@oldQts?.EarlyYearsStatusName</value>
                        </row>
                    }

                    @if (dqtUpdatedEvent.Changes.HasFlag(DqtQtsRegistrationUpdatedEventChanges.QtsDate))
                    {
                        <row>
                            <key>QTS date</key>
                            <value data-testid="old-qts-date" use-empty-fallback>@oldQts?.QtsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                        </row>
                    }

                    @if (dqtUpdatedEvent.Changes.HasFlag(DqtQtsRegistrationUpdatedEventChanges.EytsDate))
                    {
                        <row>
                            <key>EYTS date</key>
                            <value data-testid="old-eyts-date" use-empty-fallback>@oldQts?.EytsDate?.ToString(WebConstants.DateDisplayFormat)</value>
                        </row>
                    }
                </govuk-summary-list>
            </govuk-details-text>
        </govuk-details>
    </div>
</div>
