@page
@model IndexModel
@{
    ViewData["Title"] = "Teaching Record System";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (User.Identity?.IsAuthenticated == true)
        {
            <span class="govuk-body">Hello @User.Identity.Name!</span>
        }
    </div>
</div>
