@page "/my-roles"
@using TeachingRecordSystem.Core.Legacy
@model TeachingRecordSystem.SupportUi.Pages.MyRolesModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.MyRoles);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-page="MyRoles" method="post">
            <govuk-checkboxes asp-for="MyRoles">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--l" />
                    @foreach (var role in Model.AvailableRoles!)
                    {
                        <govuk-checkboxes-item value="@role">@LegacyUserRoles.GetDisplayNameForRole(role)</govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            <div class="govuk-button-group">
                <govuk-button type="submit">Save</govuk-button>
                <govuk-button type="submit" class="govuk-button--secondary" formaction="@Url.Page("MyRoles", pageHandler: "Reset")">Reset</govuk-button>
            </div>
        </form>
    </div>
</div>
