@using TeachingRecordSystem.SupportUi.Pages.Shared.Evidence

@model UploadedEvidenceFile

@if (Model is not null)
{
    if (Model.IsDeleted)
    {
        <span data-testid="uploaded-evidence-file-link" class="govuk-hint">
            @Model.FileName (deleted due to data retention policy)
        </span>
    }
    else
    {
        <a href="@Model.PreviewUrl" data-testid="uploaded-evidence-file-link" class="govuk-link" rel="noreferrer noopener" target="_blank">@($"{Model.FileName} (opens in new tab)")</a>
    }
}
else
{
    <span use-empty-fallback></span>
}
