@page "/alerts/add/confirm"
@model TeachingRecordSystem.SupportUi.Pages.Alerts.AddAlert.ConfirmModel
@{
    ViewBag.Title = "Confirm alert information";
}

<h1 class="govuk-heading-l">@ViewBag.Title</h1>
