<div class="moj-filter">
    <div class="moj-filter__header">
        <div class="moj-filter__header-title">
            <h2 class="govuk-heading-m">Filter</h2>
        </div>

        <div class="moj-filter__header-action">

        </div>

    </div>

    <div class="moj-filter__options">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="keywords">
                Search
            </label>

            <input class="govuk-input" id="keywords" name="keywords" type="text">
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Role
                </legend>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked="">
                        <label class="govuk-label govuk-checkboxes__label" for="type">
                            Viewer (79)
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked="">
                        <label class="govuk-label govuk-checkboxes__label" for="type-2">
                            Records manager (55)
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                        <label class="govuk-label govuk-checkboxes__label" for="type-3">
                            Alerts manager (34)
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                        <label class="govuk-label govuk-checkboxes__label" for="type-3">
                            Administrator (12)
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Status
                </legend>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked="">
                        <label class="govuk-label govuk-checkboxes__label" for="type">
                            Active (133)
                        </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                        <label class="govuk-label govuk-checkboxes__label" for="type-2">
                            Deactivated (17)
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                Find user
            </button>

            <div class="moj-filter__heading-action">
                <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
            </div>
        </div>
    </div>
</div>