@page "/users"
@model TeachingRecordSystem.SupportUi.Pages.Users.IndexModel
@{
    ViewBag.Title = "Add and manage users";
}
<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<govuk-button-link href="@LinkGenerator2.Users.AddUser.Index()" data-testid="add-user">Add a new user</govuk-button-link>

<filter-layout>
    <filter-layout-filter>
        <partial name="_Filters" model="@Model.Filters"/>
    </filter-layout-filter>

    <filter-layout-content>
        @if (Model.HasUsers)
        {
            <ol class="trs-search-results">
                @foreach (var user in Model.CurrentPageUsers)
                {
                    <partial name="_User" model=@user />
                }
            </ol>
        }
        else
        {
            <p class="govuk-body"><strong>No results found</strong></p>
            <p class="govuk-body">Try changing or clearing the filters.</p>
        }

        <partial name="_Pagination" model="@Model.Pagination" />
    </filter-layout-content>
</filter-layout>
