@page "/users"
@model TeachingRecordSystem.SupportUi.Pages.Users.IndexModel
@{
    ViewBag.Title = "Users";
}

<p class="govuk-body">
    <a href="@LinkGenerator.AddUser()" class="govuk-link">Add user</a>
</p>
