@page "/users"
@model TeachingRecordSystem.SupportUi.Pages.Users.IndexModel
@{
    ViewBag.Title = "Add and manage users";
}
<h1 class="govuk-heading-l">@ViewBag.Title</h1>

<govuk-button-link href="@LinkGenerator.LegacyAddUser()" data-testid="add-user">Add a new user</govuk-button-link>

<div class="moj-filter-layout">
    <div class="moj-filter-layout__filter" style="width:280px!important;">
        <partial name="_Filters" />
    </div>

    <div class="moj-filter-layout__content">
        <div class="application__listing">
            <div class="teaching-applications__applications teaching-applications__applications--regular">
                @if (Model.HasUsers)
                {
                    <ol class="trs-search-results">
                        @foreach (var user in Model.CurrentPageUsers)
                        {
                            <partial name="_User" model=@user />
                        }
                    </ol>
                }
                else
                {
                    <p class="govuk-body">No users</p>
                }
            </div>
        </div>

        <partial name="_Pagination" model=@Model.Pagination />
    </div>
</div>
