@page "/request-trn/date-of-birth"
@model TeachingRecordSystem.AuthorizeAccess.Pages.RequestTrn.DateOfBirthModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.DateOfBirth);
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.RequestTrnCheckAnswers(Model.JourneyInstance!.InstanceId) : LinkGenerator.RequestTrnPreviousName(Model.JourneyInstance!.InstanceId))" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RequestTrnDateOfBirth(Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <govuk-date-input asp-for="DateOfBirth">
                <govuk-date-input-fieldset>
                    <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l" />
                    <govuk-date-input-day autocomplete="bday-day" />
                    <govuk-date-input-month autocomplete="bday-month" />
                    <govuk-date-input-year autocomplete="bday-year" />
                </govuk-date-input-fieldset>
            </govuk-date-input>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
