@page "/request-trn/email"
@model TeachingRecordSystem.AuthorizeAccess.Pages.RequestTrn.EmailModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.Email);
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.RequestTrnCheckAnswers(Model.JourneyInstance!.InstanceId) : LinkGenerator.RequestTrn(Model.JourneyInstance!.InstanceId))" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RequestTrnEmail(Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">

            <govuk-input asp-for="Email" type="email" autocomplete="email">
                <govuk-input-label is-page-heading="true" class="govuk-label--l" />
            </govuk-input>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
