@page "/request-trn"
@model TeachingRecordSystem.AuthorizeAccess.Pages.RequestTrn.IndexModel
@{
    ViewBag.Title = "Get a teacher reference number (TRN)";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        <p class="govuk-body">Use this service to get a teacher reference number (TRN) if you’re registering for a national professional qualification (NPQ).</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">You’ll need your National Insurance number (if you have one) and proof of your identity, for example a:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>passport</li>
            <li>driving licence</li>
            <li>birth certificate</li>
            <li>UK work permit</li>
        </ul>
    </div>
</div>

<govuk-button-link href="@LinkGenerator.RequestTrnEmail(Model.JourneyInstance!.InstanceId)" is-start-button="true">Start now</govuk-button-link>
