@page "/request-trn/name"
@model TeachingRecordSystem.AuthorizeAccess.Pages.RequestTrn.NameModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.Name);
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.RequestTrnCheckAnswers(Model.JourneyInstance!.InstanceId) : LinkGenerator.RequestTrnEmail(Model.JourneyInstance!.InstanceId))" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RequestTrnName(Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <govuk-input asp-for="Name" spellcheck="false">
                <govuk-input-label is-page-heading="true" class="govuk-label--l" />
            </govuk-input>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
