@page "/request-trn/national-insurance-number"
@model TeachingRecordSystem.AuthorizeAccess.Pages.RequestTrn.NationalInsuranceNumberModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.HasNationalInsuranceNumber);
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.RequestTrnCheckAnswers(Model.JourneyInstance!.InstanceId) : LinkGenerator.RequestTrnIdentity(Model.JourneyInstance!.InstanceId))" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RequestTrnNationalInsuranceNumber(Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <govuk-radios asp-for="HasNationalInsuranceNumber">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l" />
                    <govuk-radios-item value="@true">
                        Yes
                        <govuk-radios-item-conditional>
                            <govuk-input asp-for="NationalInsuranceNumber" input-class="govuk-input--width-20 govuk-input--extra-letter-spacing" spellcheck="false" />
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="@false">No</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
