@page "/request-trn/npq-check"
@model TeachingRecordSystem.AuthorizeAccess.Pages.RequestTrn.NpqCheckModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.HaveRegisteredForAnNpq);
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.TakingNpqRequireTrn(Model.JourneyInstance!.InstanceId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator.NpqCheck(Model.JourneyInstance!.InstanceId)" method="post">
            <govuk-radios for="HaveRegisteredForAnNpq">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">Have you already registered for an NPQ?</govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@true">Yes</govuk-radios-item>
                    <govuk-radios-item value="@false">No</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
