@page "/request-trn/npq-provider"
@model TeachingRecordSystem.AuthorizeAccess.Pages.RequestTrn.NpqTrainingProviderModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.NpqTrainingProvider);
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.CheckAnswers(Model.JourneyInstance!.InstanceId) : LinkGenerator.NpqName(Model.JourneyInstance!.InstanceId))" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@LinkGenerator.NpqTrainingProvider(Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">

            <govuk-input for="NpqTrainingProvider" type="email" autocomplete="email">
                <govuk-input-label is-page-heading="true" class="govuk-label--l">Who is your NPQ training provider?</govuk-input-label>
            </govuk-input>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
