@page "/request-trn/personal-email"
@model TeachingRecordSystem.AuthorizeAccess.Pages.RequestTrn.PersonalEmailModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.PersonalEmail);
}

@section BeforeContent {
    <govuk-back-link href="@(Model.FromCheckAnswers == true ? LinkGenerator.RequestTrnCheckAnswers(Model.JourneyInstance!.InstanceId)
         : Model.JourneyInstance!.State.WorkEmail is not null ?
            LinkGenerator.RequestTrnWorkEmail(Model.JourneyInstance!.InstanceId)
            : LinkGenerator.RequestTrnWorkingInSchoolOrEducationalSetting(Model.JourneyInstance!.InstanceId))" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RequestTrnPersonalEmail(Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">

            <govuk-input for="PersonalEmail" type="PersonalEmail" autocomplete="email">
                <govuk-input-label is-page-heading="true" class="govuk-label--l" />
            </govuk-input>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
