@page "/request-trn/submitted"
@model TeachingRecordSystem.AuthorizeAccess.Pages.RequestTrn.SubmittedModel
@{
    ViewBag.Title = "What happens next";
}

<govuk-panel>
    <govuk-panel-title>Request submitted</govuk-panel-title>
</govuk-panel>

<h1 class="govuk-heading-m">@ViewBag.Title</h1>

<p class="govuk-body">We’ll email you within 5 working days with your TRN if you’re eligible for one.</p>

<p class="govuk-body">
    <a class="govuk-link" href="https://register-national-professional-qualifications.education.gov.uk/">Return to Register for a national professional qualification (NPQ)</a>
</p>
