@page "/persons/{personId}/edit-details"
@using TeachingRecordSystem.SupportUi.Pages.Common;
@using TeachingRecordSystem.SupportUi.Pages.Shared
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.EditDetails.IndexModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Edit personal details";
}

@section BeforeContent {
    <govuk-back-link data-testid="back-link" href="@Model.BackLink">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form action=@LinkGenerator.EditDetailsIndex(Model.PersonId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers) method="post" data-testid="submit-form">
            <span class="govuk-caption-l" data-testid="edit-details-caption">@Model.PersonName</span>
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <govuk-input asp-for="FirstName" label-class="govuk-label--s" input-class="govuk-input--width-20" data-testid="edit-details-first-name" />

            <govuk-input asp-for="MiddleName" label-class="govuk-label--s" input-class="govuk-input--width-20" data-testid="edit-details-middle-name" />

            <govuk-input asp-for="LastName" label-class="govuk-label--s" input-class="govuk-input--width-20" data-testid="edit-details-last-name"/>

            <govuk-date-input asp-for="DateOfBirth" data-testid="edit-details-date-of-birth">
                <govuk-date-input-fieldset>
                    <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--s" />
                </govuk-date-input-fieldset>
            </govuk-date-input>

            <govuk-input asp-for="EmailAddress" type="email" label-class="govuk-label--s" input-class="govuk-input--width-20" data-testid="edit-details-email-address"/>

            <govuk-input asp-for="MobileNumber" type="tel" label-class="govuk-label--s" input-class="govuk-input--width-20" data-testid="edit-details-mobile-number"/>

            <govuk-input asp-for="NationalInsuranceNumber" label-class="govuk-label--s" input-class="govuk-input--width-20" data-testid="edit-details-national-insurance-number"/>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="continue-button">Continue</govuk-button>
                <govuk-button data-testid="cancel-button" formaction="@LinkGenerator.EditDetailsCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>