@page "/mqs/add/start-date"
@model TeachingRecordSystem.SupportUi.Pages.Mqs.AddMq.StartDateModel
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.StartDate);
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.MqAddSpecialism(Model.PersonId, Model.JourneyInstance!.InstanceId)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.MqAddStartDate(Model.PersonId, Model.JourneyInstance!.InstanceId, Model.FromCheckAnswers)" method="post">
            <span class="govuk-caption-l">Add a mandatory qualification - @Model.PersonName</span>

            <govuk-date-input asp-for="StartDate">
                <govuk-date-input-fieldset>
                    <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l" />
                    <govuk-date-input-hint>For example, 27 3 2023</govuk-date-input-hint>
                </govuk-date-input-fieldset>
            </govuk-date-input>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
                <govuk-button formaction="@LinkGenerator.MqAddStartDateCancel(Model.PersonId, Model.JourneyInstance!.InstanceId)" class="govuk-button--secondary" type="submit">Cancel and return to record</govuk-button>
            </div>
        </form>
    </div>
</div>
