name: Package application

on:
  workflow_call:
    outputs:
      docker_image:
        value: ${{ jobs.package.outputs.image_tag }}

jobs:
  package:
    name: Build & package
    runs-on: ubuntu-22.04  # Important - later versions of ubuntu have a different .NET SDK which breaks trscli. Review on .NET 9 upgrade
    env:
      CONTAINER_REGISTRY: ghcr.io

    outputs:
      image_tag: ${{ steps.image_tags.outputs.tag }}

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: extractions/setup-just@v3

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x

      - name: Get Docker image tag
        id: image_tags
        run: |
          echo "tag=$CONTAINER_REGISTRY/$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]'):$GITHUB_SHA" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.CONTAINER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get cached packages
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.nuget/packages
            ~/.local/share/.librarymanager/cache
          key: ${{ hashFiles('**/packages.lock.json', '**/libman.json') }}

      - name: Docker build & push
        id: build
        run: |
          if skopeo inspect "docker://$TAG" >/dev/null 2>&1; then
            echo "::notice::Skipping build - tag already exists"
            echo "skipped=true" >> $GITHUB_OUTPUT
          else
            just docker-build --build-arg GIT_SHA=$GITHUB_SHA --tag $TAG
            docker push $TAG
          fi
        env:
          TAG: ${{ steps.image_tags.outputs.tag }}

      - name: Run Snyk to check Docker image for vulnerabilities
        if: steps.build.outputs.skipped != 'true'
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ${{ steps.image_tags.outputs.tag }}
          args: --severity-threshold=high --file=./TeachingRecordSystem/Dockerfile
