@page "/persons/{personId}/alerts/new"
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.AddAlertModel
@{
    ViewBag.Title = "Add alert";
}

<h1 class="govuk-heading-l">@ViewBag.Title</h1>
