@page "/persons/{personId}/change-history"
@using TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.Timeline.Events
@using TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.Timeline.Processes
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.ChangeHistoryModel
@{
    Layout = "Layout";
    ViewBag.SelectedTab = PersonDetailSubNavigationTab.ChangeHistory;
    var person = HttpContext.Features.GetRequiredFeature<CurrentPersonFeature>();
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.Persons.PersonDetail.Index(person.PersonId)">Back to record</govuk-back-link>
}

@if (Model.TimelineItems!.Length == 0)
{
    <p class="govuk-body" data-testid="no-changes">No changes</p>
}
else
{
    <div class="moj-timeline">
        @foreach (var timelineItem in Model.TimelineItems)
        {
            var viewName = timelineItem.ItemType switch
            {
                TimelineItemType.Event => $"./Timeline/Events/{((TimelineEvent)timelineItem.ItemModel).Event.GetEventName()}.cshtml",
                TimelineItemType.Process => $"./Timeline/Processes/{((TimelineProcess)timelineItem.ItemModel).Process.ProcessType.ToString()}.cshtml",
                _ => $"./Timeline/{timelineItem.ItemType}.cshtml"
            };

            <partial name="@viewName" for="@timelineItem" />
        }
    </div>

    <partial name="_Pagination" model=@Model.Pagination />
}
