@page "/persons/{personId}/change-history"
@using TeachingRecordSystem.Core.Events
@using TeachingRecordSystem.SupportUi.Pages.Common;
@using TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.Timeline.Events
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.ChangeHistoryModel
@{
    Layout = "Layout";
    ViewBag.SelectedTab = PersonSubNavigationTab.ChangeHistory;
    ViewBag.PersonId = Model.PersonId;
    ViewBag.Search = Model.Search;
    ViewBag.SortBy = Model.SortBy;
    ViewBag.PageNumber = Model.PageNumber;
    ViewBag.Title = Model.Name;
}

@if (Model.TimelineItems!.Length == 0)
{
    <p class="govuk-body" data-testid="no-changes">No changes</p>
}
else
{
    <div class="moj-timeline">
        @foreach (var timelineItem in Model.TimelineItems)
        {
            var viewName = timelineItem.ItemType switch
            {
                TimelineItemType.Event => $"./Timeline/Events/{((TimelineEvent)timelineItem.ItemModel).Event.GetEventName()}.cshtml",
                _ => $"./Timeline/{timelineItem.ItemType}.cshtml"
            };

            <partial name="@viewName" for="@timelineItem" />
        }
    </div>
}
