@page "/persons/{personId}"
@using TeachingRecordSystem.SupportUi.Pages.Common;
@using TeachingRecordSystem.SupportUi.Pages.Shared
@model TeachingRecordSystem.SupportUi.Pages.Persons.PersonDetail.IndexModel
@{
    Layout = "Layout";
    ViewBag.SelectedTab = PersonSubNavigationTab.General;
    ViewBag.PersonId = Model.PersonId;
    ViewBag.Search = Model.Search;
    ViewBag.SortBy = Model.SortBy;
    ViewBag.PageNumber = Model.PageNumber;
    ViewBag.Title = Model.Person!.Name;
}

@if (Model.Person.HasAlerts)
{
    <govuk-notification-banner>
        <p class="govuk-notification-banner__heading">
            Alert on record.
            <a class="govuk-notification-banner__link" href="@LinkGenerator.PersonAlerts(Model.PersonId, Model.Search, Model.SortBy, Model.PageNumber)">View alerts</a>.
        </p>
    </govuk-notification-banner>
}

@{
    var personDetailModel = new PersonDetailViewModel()
    {
        PersonId = Model.PersonId,
        Options = PersonDetailViewModelOptions.ShowAll,
        Trn = Model.Person.Trn,
        Name = Model.Person.Name,
        PreviousNames = Model.Person.PreviousNames,
        DateOfBirth = Model.Person.DateOfBirth,
        NationalInsuranceNumber = Model.Person.NationalInsuranceNumber,
        Gender = Model.Person.Gender,
        Email = Model.Person.Email,
        MobileNumber = Model.Person.MobileNumber
    };
}
@await Html.PartialAsync("_PersonDetail", personDetailModel)
